@import "tailwindcss";

@theme {
  --color-card: #ffffff;
  --color-card-foreground: #374151;

  --color-popover: #ffffff;
  --color-popover-foreground: #374151;

  --color-primary: #3b82f6;
  --color-primary-foreground: #ffffff;

  --color-accent: #fbbf24;
  --color-accent-foreground: #1f2937;

  --color-secondary: #e5e7eb;
  --color-secondary-foreground: #374151;

  --color-muted: #f9fafb;
  --color-muted-foreground: #374151;

  --color-destructive: #dc2626;
  --color-ring: #3b82f6;

  --color-border: #e5e7eb;

  --color-background: #ffffff;
  --color-foreground: #374151;
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
